$colors: (
  primary: (
    200: hsl(184, 58%, 90%),
    400: hsl(184, 58%, 60%),
    500: hsl(184, 58%, 50%),
    700: hsl(184, 58%, 20%),
    900: hsl(184, 74%, 8%),
  ),
  neutral: (
    100: hsl(0, 0%, 95%),
    200: hsl(0, 0%, 90%),
    500: hsl(0, 0%, 50%),
    900: hsl(0, 0%, 1%),
  ),
);
