.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 100;

  height: fit-content;

  &__menu {
    height: 5rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 10px -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 10rem;
  }
}

.nav {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

  height: 5rem;

  width: 100%;
  background-color: var(--clr-primary-700);

  &[data-dir="true"] {
    direction: rtl;
  }

  &__title {
    color: var(--clr-neutral-100);
    transform: translateX(-2rem);

    &[data-dir="ar"]{
      transform: translateX(2rem);
    }
  }

  &__items {
    display: flex;
    gap: 1rem;
  }
}

.indexing-type,
.languages {
  padding: 0 1rem;
  border: 0.2rem solid var(--clr-primary-700);
  & legend {
    margin: auto;
    padding: 0 1rem;
  }

  &__choices {
    display: flex;
    gap: 1rem;
  }
}
