body {
  background-color: var(--clr-neutral-300);
}

h3, h4, h5, p {
  font-weight: var(--fw-xxl);
  line-height: 2rem;
}
.app {
  font-size: var(--fs-m);
  font-weight: var(--fw-regular);
  font-family: var(--ff-latin);
}

.app[data-lang="ar"] {
  direction: rtl;
  font-size: var(--fs-ar);
  font-family: var(--ff-arabic);
  color: var(--clr-primary-900);
}
